<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The New Image Uploader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main>
        <h1>The New Image Uploader</h1>
        <form id="upload-form" action="/account/" method="POST" enctype="multipart/form-data">
            <label for="file-input">Upload Your File</label><br>
            <input type="file" name="user_file" id="file-input" aria-label="Choose file to upload"><br>
            <button type="reset" id="resetBtn">Reset</button>
        </form>
    </main>
    <script type="text/javascript">
        function initUpload() {
            const files = document.getElementById('file-input').files;
            const file = files[0];
            if (!file) {
                alert('No file selected.');
                return;
            }
            getSignedRequest(file);
        }

        function getSignedRequest(file) {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/sign-s3?file-name=${encodeURIComponent(file.name)}&file-type=${encodeURIComponent(file.type)}`);
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        uploadFile(file, response.data, response.url);
                    } else {
                        alert('Could not get signed URL.');
                    }
                }
            };
            xhr.send();
        }

        function uploadFile(file, s3Data, url) {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', s3Data.url);
            xhr.setRequestHeader('x-amz-acl', 'public-read');
            const postData = new FormData();
            for (const key in s3Data.fields) {
                postData.append(key, s3Data.fields[key]);
            }
            postData.append('file', file);
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200 || xhr.status === 204) {
                        alert("Upload successful!");
                    } else {
                        alert('Could not upload file.');
                    }
                }
            };
            xhr.send(postData);
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('file-input').onchange = initUpload;
        });
    </script>
</body>
</html>
